To ensure the scripts run successfully, please include the following files in the repository folder. Due to data-sharing restrictions from the PPMI (Parkinson's Progression Markers Initiative), these files are not included in this repository:

Hematology.csv
Image.csv
Metabolomic_Part1.csv
Metabolomic_Part2.csv
Proteomic_project_151.csv
RNAseq.csv

Please obtain the necessary data from the PPMI website and preprocess these files accordingly before running the scripts.
